<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDpTLQW6FlQuHQIQlCjtu22pyWrVe4DzTs</string>
	<key>GCM_SENDER_ID</key>
	<string>741620867136</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.feedbackAbhyaz.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>feedbackabhyaz</string>
	<key>STORAGE_BUCKET</key>
	<string>feedbackabhyaz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:741620867136:ios:38cd99fefa9eade3bb3fa5</string>
</dict>
</plist>